<img alt="<%= @service.name %> favicon" src="data:image/png;base64,<%= @service.load_icon %>">

<h3><%= @service.name %></h3>

<div class="dt">
  <form method="post" action="/add/account">
    <input name="service" value="<%= @service.id %>" type="hidden" />

    <div>
      <input class="pas mam w-100" placeholder="Web link to your <%= @service.name %> account" name="uri" type="text" />
    </div>
    <div>
      <input class="pas mam w-100" placeholder="Mobile specific link e.g., rdio://people/username" name="mobile_uri" type="text" value=""/>
    </div>
    <button type="submit" class="mam pas ttu btn btn--blue">Add!</button>
  </form>
</div>

<% if @service.accounts.count == 0 %>
  <p>This service has no accounts. Which is very sad.</p>
<% else %>
  <ul>
    <% @service.accounts.sort {|a,b| a.user.name <=> b.user.name }.each do |a| %>
      <li><a href="<%= a.uri %>"><%= a.user.name %></a></li>
    <% end %>
  </ul>
<% end %>
