<h3><img class="w3 v-mid" src="<%= @user.image %>"> <%= @user.name %></h3>
<h4><%= @user.batch %></h4>

<% if @user.accounts.count == 0 %>
  <p>This user has no accounts. Which is very sad.</p>
<% else %>
  <ul>
    <% if @current_user.id != @user.id %>
      <% @user.accounts.sort {|a,b| a.service.name <=> b.service.name }.each do |a| %>
        <% if a.mobile_uri? %>
          <li class="mbs"><%= a.service.name %>: <a href="<%= a.uri %>">browser</a>, <a href="<%= a.mobile_uri %>">in app</a></li>
        <% else %>
          <li class="mbs"><%= a.service.name %>: <a href="<%= a.uri %>">browser</a></li>
        <% end %>
      <%end %>
    <% else %>
      <% @user.accounts.sort {|a,b| a.service.name <=> b.service.name }.each do |a| %>
        <% if a.mobile_uri? %>
          <li class="mbs"><%= a.service.name %>: <a href="<%= a.uri %>">browser</a>, <a href="<%= a.mobile_uri %>">in app</a><a class="mls" href="/edit/<%= @user.id %>/<%= a.service_id %>">edit</a></li>
        <% else %>
          <li class="mbs"><%= a.service.name %>: <a href="<%= a.uri %>">browser</a><a class="mls" href="/edit/<%= @user.id %>/<%= a.service_id %>">edit</a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
