<h3><img class="w3 v-mid" src="<%= @user.image %>"> <%= @user.name %></h3>
<h4><%= @user.batch %></h4>

<% if @user.accounts.count == 0 %>
  <p>This user has no accounts. Which is very sad.</p>
<% else %>
  <ul>
    <% if @current_user.id != @user.id %>
      <% @user.accounts.sort {|a,b| a.service.name <=> b.service.name }.each do |a| %>
        <% if a.mobile_uri? %>
          <li class="mbs"><%= a.service.name %>: <a href="<%= a.uri %>">browser</a>, <a href="<%= a.mobile_uri %>">in app</a></li>
        <% else %>
          <li class="mbs"><%= a.service.name %>: <a href="<%= a.uri %>">browser</a></li>
        <% end %>
      <%end %>
    <% else %>
      <% @user.accounts.sort {|a,b| a.service.name <=> b.service.name }.each do |a| %>
        <li class="mbs"><%= a.service.name %>:
        <% if a.mobile_uri? %>
          <a href="<%= a.uri %>">browser</a>, <a href="<%= a.mobile_uri %>">in app</a>
        <% else %>
          <a href="<%= a.uri %>">browser</a>
        <% end %>
        <div class="mls pan mvn db">
          <a class="hover-light-green green" href="/edit/<%= @user.id %>/<%= a.id %>">edit</a> <a class="mls dark-red hover-red verify" href="/delete/account/<%= a.id %>">delete</a>
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<script>
 document.addEventListener('click', function(e) {
   if (e.target && e.target.classList && e.target.classList.contains('verify')){
     !confirm('Are you sure you want to remove this account from your profile?') && e.preventDefault();
   }
 });
</script>
